<style type="text/css">
body{
  color: white;
  text-align: center;
}
</style>
<img id="back1" style="z-index:-1; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTKtYiY4K8XjHta8p_EqtIhEhWGxJ2mG69CL0oz_8J93MLPSY-oJA" alt="">
<div class="container">
  <h1>Welcome to Caffeine Buddy</h1>



<h2 style="margin-top: 150px;">Find Drinks near me</h2>
<!-- <button type="button" class="btn btn-success">Find Drinks!!</button> -->
<p><%= link_to "Find Drinks!!!", stores_path, class: 'button' %></p>

<form colspan="2" style="width:20%; margin: 0 auto; margin-top: 50px;" action="" method="POST" role="form">
  <!-- <legend>Enter zip</legend> -->

  <div class="form-group">
    <label for="">Or Enter Zip Code</label>
    <input type="text" class="form-control" id="" placeholder="Zip Code">
  </div>




  <p><%= link_to "Submit", stores_path, class: 'button' %></p>
</form>
</div>
