/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
@import 'bootstrap';

a, a:visited, p, td, th, #field, td{
  padding: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

#store_buttons{
  float: left;
  margin-left: 200px;
}

#storedrinks{
  margin-right: 50px;
  margin-bottom: 50px;
  float: right;
}

#store_form{
  margin-bottom: 50px;
}

h1, h2{
  color: white;
  text-align: center;
}

#map{
  text-align: center;
  margin: 0 auto;
  display: inline;
  margin-left: 150px;
}



body{
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTKtYiY4K8XjHta8p_EqtIhEhWGxJ2mG69CL0oz_8J93MLPSY-oJA");
  background-size: 100%;
  background-attachment: fixed;
}

#funnypic{
  float: right;
  margin-right: 150px;
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline;
}
#store_container{
  postition: absolute;
  top: 0px;
}

#login{
  text-align: center;
  margin: 0 auto;
}

#drinkpic{
  width: 75px;
  height: 75px;
}

.funny1{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKYTBlbUNhUmVVX2s&authuser=0&v=1438042960955&sz=w1256-h582")
}

.funny2{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKRXItNUdELVBQWVk&authuser=0&v=1438090779181&sz=w1256-h582")
}

.funny3{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKYkl3Y3hrOGMtM0k&authuser=0&v=1438090786874&sz=w1256-h582")
}

.funny4{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKU3ktaEk5SUF4MHc&authuser=0&v=1438090788286&sz=w1256-h582")
}

.funny5{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKOG16SkNXVWdxSms&authuser=0&v=1438090789809&sz=w1256-h582")
}

.funny6{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKTW5mdE1Tb3FEMmc&authuser=0&v=1438090795945&sz=w1256-h582")
}

.funny7{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKTXhuSW53UUJuelk&authuser=0&v=1438090805559&sz=w1256-h582")
}

.funny8{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKb2JzTWZuX0dGUmc&authuser=0&v=1438090810046&sz=w1256-h582")
}

.funny9{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKRVFNczdENGRRcEk&authuser=0&v=1438090803468&sz=w1256-h582")
}

.funny10{
  background-image: url("https://drive.google.com/thumbnail?id=0B6z5p82sidMKMzI5WllxdlVLZTg&authuser=0&v=1438090799261&sz=w1256-h582")
}


